.section-content {
  width: 100%;
  height: 100vh;

  position: absolute;
  top: 0;
  left: 0;
}

#home-wrap {
  position: relative;
}

#home-background {
  z-index: 9;
  background-color: #666;
  display: flex;
  justify-content: center;
  align-items: center;

  .quote-content-wrap {
    position: relative;
    bottom: 10rem;

    .quote-content-box {
      width: 30rem;
      height: 25rem;
      background-color: #fff;
      padding: 1rem;
      display: flex;
      justify-content: flex-end;
      flex-direction: column;

      .content-title {
        font-family: Helvetica;
        font-style: italic;
        font-weight: 800;
        letter-spacing: -2px;
        margin: 0;
        color: #666;
  
        &-main {
          font-size: 8em;
        }
  
        &-sub {
          font-size: 3.5em;
        }
      }
  
      .name-cover-wrap {
        position: relative;
        width: 100%;
        margin: 1rem 0 0;
        padding: 17px 0 10px;
  
        .cover {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: #666;
        }
  
        p {
          position: relative;
          z-index: 2;
          font-family: Helvetica Light;
          color: #fff;
          font-size: 3rem;
          text-align: center;
        }
      }
    }

    .cont-box-rotate {
      position: absolute;
      bottom: -180px;
      right: 0;
      width: 0px;
      height:0px;
      border-right:300px solid transparent;
      border-top: 180px solid #fff; 
    }  
  }
}

#about {
  background-color: #fff;
  padding: 15rem 12rem 5rem;

  .info-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 13rem;

    .title-wrap {
      padding-bottom: 3rem;

      .kr-info-title {
        font-family: Gm Medium;
        font-size: 1.5rem;
        padding-bottom: 1.25rem;
      }
    
      .en-info-title {
        font-family: Gm Bold;
        font-size: 3rem;
      }
    }

    .contact-wrap {
      .contact-list ul li {
        font-family: Gm Medium;
        font-size: 0.85rem;
        padding-bottom: 1.5rem;

        a, span {
          color: #333;
          transition: color .2s;
          font-family: Gm Medium;
          font-size: 0.85rem;
        }

        a {
          &:hover {
            color: #ddd;

            span {
              color: #ddd;
            }
          }
        }
        
        span {  
          vertical-align: middle;

          img {
            width: 18px;
            margin-right: 5px;
          }
        }
      }
    }
  }

  .career-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;

    .career-area {
      padding-bottom: 5rem;
      padding-right: 2rem;

      h3 {
        font-family: Gm Medium;
        padding-bottom: 1rem;
      }

      ul li, span {
        font-family: Gm Light;
      }

      ul li {
        padding-bottom: 0.5rem;

        &.italic {
          padding-top: 10px;
          font-style: italic;
        }

        span.year {
          padding-right: 1rem;
          padding-bottom: 0.5rem;

          &.block {
            display: block;
          }
        }

        span.react {
          color: #61dafb;
        }

        span.redux {
          color: #9b59b6;
        }

        span.saga {
          color: #2ecc71;
        }

        span.html {
          color: #e74c3c;
        }

        span.css {
          color: #3498db;
        }

        span.scss {
          color: #bf4080;
        }

        span.js {
          color: #f1c40f;
        }
      }
    }
  }
}